/* CSS Document */
body
{
   font-family:raleway;
   color:#000000;
}
   li:nth-child(1) > a
	{
	   font-size:25px;
	}

 .container > p
 {
   line-height:25px;
 }
 .notify_me
 {
   color:#FF0000;
   text-align:center;
   }